<%= render partial: "shared/header" %>

<section class="hello">
    <header>
        <bm>Hello</bm>
    </header>
    <article>
        <p><bm>Design</bm><br>
        My love & practise of design began over 1&half; decades ago, inspired by a love of letterforms, structure & space. Typography, form & arrangement continue to form the backbone of my work in design today, complemented by a deep appreciation for the interface between subject & material.</p>

        <p><bm>Code</bm><br>
        My love & practise of design began over 1&half; decades ago, inspired by a love of letterforms, structure & space. Typography, form & arrangement continue to form the backbone of my work in design today, complemented by a deep appreciation for the interface between subject & material.</p>

        <p><bm>Writing</bm><br>
        My love & practise of design began over 1&half; decades ago, inspired by a love of letterforms, structure & space. Typography, form & arrangement continue to form the backbone of my work in design today, complemented by a deep appreciation for the interface between subject & material.</p>

        <p><bm>Noise</bm><br>
        My love & practise of design began over 1&half; decades ago, inspired by a love of letterforms, structure & space. Typography, form & arrangement continue to form the backbone of my work in design today, complemented by a deep appreciation for the interface between subject & material.</p>
    </article>
</section>