<%= render partial: "shared/header" %>

<a class="open_sesame small_only">&#9776;</a>

<section class="binders_full_of_content">
    <header>
        <bm>Hello</bm>
    </header>
    <article>
        <p>I am a designer, writer, noise-maker and obsessively curious craftsman. I'm currently designing interfaces at <a href="http://www.futureworkshops.com">Future Workshops</a>; previously, I was a co-founder and designer at <a href="http://burdocks.ca">Burdocks</a>.</p>

        <p><bm>Design</bm><br>
        My love and practise of design began over 1&half; decades ago, inspired by a love of letterforms, structure and space. Typography, form and arrangement continue to form the backbone of my work in design today, complemented by a deep appreciation for the interface between subject and material.</p>

        <p><bm>Code</bm><br>
        Wherever possible, I enjoy moving beyond static visuals and into working code. I believe that, in order to effectively realise a design within the digital space, the maker must possess at least a working understanding of code &mdash; the tool that transforms vision into reality. I currently work in HTML, CSS/SCSS, and JavaScript/jQuery, and am educating myself in Ruby and Rails.</p>

        <p><bm>Writing</bm><br>
        Writing has been a passion of mine for nearly as long as design. In fact, I view design and writing as two manifestations of the same end &mdash; engaging communication and disseminating information. I'm a sucker for good literature, journalism, and cultural discourse. You can read my recent (and all too infrequent) work on <a href="http://medium.com/@cole_peters">Medium</a>, or dive into some of my past work in the <%= link_to "Archives.", archives_index_path %></p>

        <p><bm>Noise</bm><br>
        I've been producing experimental music since 2004. Between 2009 and early 2013, I recorded <a href="http://discogs.com/artist/Gomeisa">nearly 20 releases</a> of drone and noise-inflected work under the moniker Gomeisa. Since mid-2013 I have been recording and performing more minimal experimental compositions under my own name. You can hear some of my past work on <a href="http://colepeters.bandcamp.com">Bandcamp</a> and <a href="http://soundcloud.com/gomeisa">SoundCloud</a>. My first full-length of new material is slated for an October 2013 release.</p>

        <p>Thanks very much for your interest. Please feel free to <%= mail_to "cole@colepeters.com", "get in touch", encode: "hex" %>.</p>
    </article>
</section>