@font-face {
  font-family: "pt-serif";
  src: url('../fonts/PTF55F-webfont.eot');
  src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTF55F-webfont.woff') format('woff'),
       url('../fonts/PTF55F-webfont.ttf') format('truetype'),
       url('../fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pt-serif";
  src: url('../fonts/PTF56F-webfont.eot');
  src: url('../fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTF56F-webfont.woff') format('woff'),
       url('../fonts/PTF56F-webfont.ttf') format('truetype'),
       url('../fonts/PTF56F-webfont.svg#pt_serifregular') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "pt-serif";
  src: url('../fonts/PTF75F-webfont.eot');
  src: url('../fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTF75F-webfont.woff') format('woff'),
       url('../fonts/PTF75F-webfont.ttf') format('truetype'),
       url('../fonts/PTF75F-webfont.svg#pt_serifregular') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "pt-serif";
  src: url('../fonts/PTF76F-webfont.eot');
  src: url('../fonts/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTF76F-webfont.woff') format('woff'),
       url('../fonts/PTF76F-webfont.ttf') format('truetype'),
       url('../fonts/PTF76F-webfont.svg#pt_serifregular') format('svg');
  font-weight: 700;
  font-style: italic;
}

