/* ============================

   BassCSS

============================ */


@import "basscss-base";
@import "basscss-utilities";
@import "basscss-grid";
@import "basscss-color-basic";

/* ============================

   BassCSS overrides

============================ */

:root {
  --font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  --dark-gray: #323E47;
  --light-gray: #BEC6CC;
  --lighter-gray: #F5F8FA;
}

/* ============================

   Site styles

============================ */

@import "./tcp.css";

