/* ============================

   BassCSS

============================ */


@import "basscss-base";
@import "basscss-utilities";
@import "basscss-grid";
@import "basscss-color-basic";

/* ============================

   BassCSS overrides

============================ */

:root {
  --font-family: pt-serif, georgia, serif;
  --line-height: 1.6;
  --dark-gray: #3E5A75;
  --light-gray: #B2B9BF;
  --lighter-gray: #FAFBFC;
  --h4: 1.125rem;
  --monospace-font-family: "Inconsolata XL", inconsolata, "Letter Gothic Std", consolas, courier, monospace;
  --darken-1: rgba(10,10,0,.03125);
  --darken-2: rgba(10,10,0,.0625)
}

/* ============================

   Site styles

============================ */

@import "./fonts.css";
@import "./tcp.css";

