:root {
  --dark-gray: #3E5A75;
  --tcp-blue: #0DC4FC;
  --sans: montserrat, avenir, "helvetica neue", helvetica, sans-serif;
}

/* ====================================
 *
 * Base - element overrides
 *
 * ==================================*/

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

@media screen and (max-width: 51.99em) {
  h3.h4 {
    font-size: 1.25rem;
  }
}

p,
dl,
ol,
ul {
  font-size: 1.125rem;
}


a {
  text-decoration: none;
  transition: 0.3s ease-out;
  display: inline;
  padding: 0;
  background-image: linear-gradient(rgba(var(--tcp-blue), 0) 50%, rgba(var(--tcp-blue), 1.0) 50%);
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0px 1.125rem;
  background-repeat: repeat-x;
  color: var(--dark-gray);
}

a:hover,
a:focus {
  color: var(--tcp-blue);
  text-decoration: none;
}

::selection {
  background-color: rgba(var(--tcp-blue), 0.5);
}

::-moz-selection {
  background-color: rgba(var(--tcp-blue), 0.5);
}
/* ====================================
 *
 * Custom classes
 *
 * ==================================*/

.sans {
  font-family: var(--sans);
}

.relative {
  position: relative;
}

.section-heading::before {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 1px solid var(--tcp-blue);
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}


.light {
  font-weight: 300;
}

.smallcaps {
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
}

.lh-1p6 {
  line-height: 1.6;
}

.logo {
  width: 60px;
  height: 60px;
  background-image: url('../images/tcpInsignia2014.png');
  background-size: cover;
  border-radius: 50%;
}

.bg-tcp-blue {
  background-color: var(--tcp-blue);
}
