:root {
  --dark-gray: #3E5A75;
  --tcp-red: #e66767;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
dl,
ol,
ul {
  font-size: 1.125rem;
}

.lh-1p6 {
  line-height: 1.6;
}

.logo {
  width: 60px;
  height: 60px;
  background-image: url('../images/tcpInsignia2014.svg');
  background-size: cover;
  border-radius: 50%;
}

a {
  text-decoration: none;
  transition: 0.3s ease-out;
  display: inline;
  padding: 0;
  background-image: linear-gradient(rgba(230, 103, 103, 0) 50%, rgba(230, 103, 103, 0.6) 50%);
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0px 1.125rem;
  background-repeat: repeat-x;
  color: var(--dark-gray);
}

a:hover,
a:focus {
  color: var(--tcp-red);
  text-decoration: none;
}
