<div class="menu hide">
    <a class="shut_yo_mouth">&times;</a>
    <%= render partial: "shared/menu" %>
</div>

<section>
    <header>
        <bm>Cole Peters</bm>
    </header>
    <article>
        <a class="open_sesame">Menu</a>
    </article>
</section>