<section>
    <header>
        <bm>Cole Peters</bm>
    </header>
    <article>
        <p>Craftsman &amp; noise maker<br>
        <em>Born in Canada; based in England</em></p>
    </article>
    <article>
        <p class="block title">contents:</p>
        <ul class="contents_list">
            <li><%= link_to_unless_current "Hello", hello_index_path %></li>
            <li><%= link_to_unless_current "Artefacts", artefacts_index_path %></a></li>
            <li><%= link_to_unless_current "Archives", archives_index_path %></li>
            <li><%= link_to_unless_current "Colophon", colophon_index_path %></li>
        </ul>
    </article>
    <article>
        <p class="block title">elsewhere:</p>
        <ul class="contents_list">
            <li><a href="http://twitter.com/cole_peters">Twitter</a></li>
            <li><a href="http://medium.com/@cole_peters">Medium</a></li>
            <li><a href="http://cole.vsco.co">VSCO Grid</a></li>
            <li><a href="http://rdio.com/people/colepeters">Rdio</a></li>
            <li><a href="http://soundcloud.com/colepeters">Soundcloud</a></li>
            <li><a href="http://www.youtube.com/user/colepeters">YouTube</a></li>
            <li><a href="http://readmill.com/colepeters">Readmill</a></li>
            <li><a href="http://github.com/colepeters">GitHub</a></li>
            <li><a href="http://dribbble.com/colepeters">Dribbble</a></li>
        </ul>
    </article>
</section>