// ========================================================
//
// colepeters.com
// 2014
//
// ========================================================

// ========================================================
// IMPORTS
// ========================================================

@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// ========================================================
// FONT-FACE
// ========================================================

@font-face {
    font-family: "FF Milo Serif";
    src: url("../fonts/MiloSerifWeb.eot");
    src: url("../fonts/MiloSerifWeb.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "FF Milo Serif";
    src: url("../fonts/MiloSerifWeb-Ita.eot");
    src: url("../fonts/MiloSerifWeb-Ita.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "FF Milo Serif";
    src: url("../fonts/MiloSerifWeb-Bold.eot");
    src: url("../fonts/MiloSerifWeb-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "FF Milo Serif SC";
    src: url("../fonts/MiloSerifScWeb.eot");
    src: url("../fonts/MiloSerifScWeb.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "FF Milo Serif SC";
    src: url("../fonts/MiloSerifScWeb-Bold.eot");
    src: url("../fonts/MiloSerifScWeb-Bold.woff") format("woff");
    font-weight: 700;
}


// ========================================================
// COLOUR
// ========================================================

$tcpBackground: #FAFAFA;
$tcpText: #4D6B80;
$tcpTextLight: #5C8199;
$tcpTextDark: #335266;
$tcpRed: rgb(230,103,103);
$tcpRedLight: rgba(230,103,103,0.5);

// ========================================================
// TYPE
// ========================================================

$tcpFontStack: "FF Milo Serif", Georgia, serif;
$tcpFontStackSC: "FF Milo Serif SC", Georgia, serif;

html {
    font-family: $tcpFontStack;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.618;
    color: $tcpText;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: 700;
    font-size: 1.618rem;
    line-height: 1.371;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-family: $tcpFontStackSC;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.2;
    color: $tcpTextDark;
    text-transform: lowercase;
}

.site-header h2 {
    margin-top: 0;
    font-weight: 400;
    color: $tcpTextLight;
    letter-spacing: 1px;
}

/* Link underlines with gradient technique has been
adapted from Medium - https://medium.com/designing-medium/7c03a9274f9 */

a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    display: inline;
    padding: 0;
    line-height: 1.6rem;
    background-image: linear-gradient(rgba(230, 103, 103, 0) 50%, rgba(230, 103, 103, 0.5) 50%);
    -webkit-background-size: 2px 2px;
    background-size: 2px 2px;
    background-position: 0px 1rem;
    background-repeat: repeat-x;

    &:link,
    &:visited {
        color: $tcpText;
    }

    &:hover,
    &:focus {
        color: $tcpRed;
    }

    &.project-link {
        font-style: italic;
    }
}


// ========================================================
// LAYOUT
// ========================================================

img {
    max-width: 100%;
}

.wrapper {
    @include outer-container();
    max-width: 980px;
}

.site-header {
    @include span-columns(9);
    @include shift(3);
    margin-top: 2rem;

    @media screen and (max-width: 640px) {
        @include span-columns(12);
        @include shift(0);
    }

    & .logo {
        width: 52px;
        height: 52px;
        display: block;
        margin-bottom: 2rem;
        background: url("../images/tcpInsignia_2014.svg");
        background-size: cover;
        border-radius: 999px;
    }
}

.hr {
    @include span-columns(12);
    margin-top: 2rem;
    display: block;
    width: 100%;
    border-bottom: 1px solid $tcpRed;
    
    // Retina HRs motherfucker!
    @media
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
        @include transform(scaleY(0.5));
    }
}

.section-title {
    @include span-columns(3);

    @media screen and (max-width: 640px) {
        @include span-columns(12);
    }
}

section {
    &.hello .section-title,
    &.hello article {
        margin-top: 2rem;
    }
}

article {
    @include span-columns(9);

    @media screen and (max-width: 640px) {
        @include span-columns(12);
    }
}

.row article:first-child {
    @include shift(3);

    @media screen and (max-width: 640px) {
        @include shift(0);
    }
}

.contact ul {
    margin-top: 2rem;
    list-style-type: none;
    padding-left: 0;
    line-height: 1.6;

    & a {
        text-decoration: none;
        font-style: italic;
    }
}

.contact ul img,
img.link-icon {
    max-width: 16px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.thanks {
    margin-bottom: 4rem;
}

.fn {
  display: none;
}
