// ========================================================
//
// colepeters.com
// 2014
//
// ========================================================

// ========================================================
// IMPORTS
// ========================================================

@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// ========================================================
// FONT-FACE
// ========================================================

@font-face {
    font-family: "FF Milo Serif";
    src: url("../fonts/MiloSerifWeb.eot");
    src: url("../fonts/MiloSerifWeb.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "FF Milo Serif";
    src: url("../fonts/MiloSerifWeb-Ita.eot");
    src: url("../fonts/MiloSerifWeb-Ita.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "FF Milo Serif";
    src: url("../fonts/MiloSerifWeb-Bold.eot");
    src: url("../fonts/MiloSerifWeb-Bold.woff") format("woff");
    font-weight: 700;
}


// ========================================================
// COLOUR
// ========================================================

$tcpBackground = #FAFAFA;
$tcpText = #4D6B80;
$tcpTextLight= #5C8199;
$tcpTextDark = #335266;
$tcpRed = rgb(230,103,103);
$tcpRedLight = rgba(230,103,103,50);

// ========================================================
// TYPE
// ========================================================

$tcpFontStack = "FF Milo Serif", Georgia, serif;

html {
    font-family: $tcpFontStack;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    color: $tcpText;
}