<%= render partial: "shared/header" %>

<a class="open_sesame small_only">&#9776;</a>

<section class="binders_full_of_content">
    <header>
        <bm>Archives</bm>
    </header>
    <article>
        <p>The following articles were written between mid-2012 and early 2013, during which time I had challenged myself to publish a new article, every day of the week, on my blog. I managed to maintain this pace for several months, before my move from Canada to London, England began to occupy all my available energies. I hope to one day pick up such a regular writing schedule again!</p>
        <p>Tapping the article titles will open them in a new window; they are presented true-to-form, in their original layout, with their contents unedited &mdash; as such, you may find some broken links along the way, but I think that just adds to the charm.</p>
        <p>You can return to this page by closing the new window, or tapping the &ldquo;home&rdquo; icon on the article pages.</p>
        <p><em>(By the way, my more recent writing is and will continue to be published <a href="http://medium.com/@cole_peters">here</a>.)</em></p>
    </article>
    <article>
        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/flatliners/" target="_blank">Flatliners</a><br>
            <em>&ldquo;&hellip;while the topic has borne a few great articles, ideas and interfaces, the bulk of the conversation around flat design tends to mimic with unfortunate precision the lack of depth the movement is built around.&rdquo;</em>
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/design-and-depression/" target="_blank">Design &amp; Depression</a><br>
            <em>&ldquo;In my early twenties, after years of questioning, of debating, of trying to forget, I finally accepted the presence of the clinical depression that had affected me likely since the onset of adolescence.&rdquo;</em>
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/the-empty-page/" target="_blank">The Empty Page</a><br>
            Musings on the written word, presented in a series of facsimilies.
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/into-the-extra-ordinary/" target="_blank">Into the Extra Ordinary</a><br>
            <em>&ldquo;At the terminus of Irwin’s trajectory, when all the nonessentials had been stripped away, came the core assertion that aesthetic perception itself was the pure subject of art. Art existed not in objects but in a way of seeing.&rdquo;</em>
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/perfume/" target="_blank">Perfume</a><br>
            <em>&ldquo;You don’t know what it’s made of, but it’s filling your brain to the breaking point and you know she was here.&rdquo;</em>
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/the-fading-makers-mark/" target="_blank">The Fading Maker's Mark</a><br>
            <em>&ldquo;Digitally and mechanically-produced design serves a wonderful purpose, but it loses something in the process. We gain near-universal access, speed of production, a ubiquitous presence; but we lose that sense of intimate connection between maker and user, a strange and near-magical thing that can bond two strangers together across space and time.&rdquo;</em>
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/birth-marks-and-legacies/" target="_blank">Birth Marks and Legacies</a><br>
            <em>&ldquo;An overwhelming amount of DNA surrounds each one of us every day. The ghosts of a thousand designers might linger on this very room — in the desk I work at it and the lamp that illuminates it; in the radiator below the window and the window’s shape and mouldings; in the layout of the room itself, and in every item that inhabits it. Every object around me is a child of a designer I’ve never known.&rdquo;</em>
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/brutalism-in-graphic-design/" target="_blank">Brutalism in Graphic Design</a><br>
            <em>&ldquo;&hellip;looking at works such as these, describing their style as Brutalist actually fits quite well: one notes the rhythmic angles (the result of a strong, if sometimes playful, grid structure), the use of strong sans-serif typefaces (easily compared to concrete in architecture, aesthetically speaking), and a rejection of the overly-sleek sheen of Modernism.&rdquo;</em>
        </p>

        <p>
            <a class="article_link" href="http://colepeters.com/wp1213/ideas-lovers/" target="_blank">Ideas, Lovers</a><br>
            <em>&ldquo;Good ideas, like lovers, aren’t found by turning over every stone in sight. They come to us when we are open to their arrival, but we must also be willing to let them arrive of their own accord, on their own schedule.&rdquo;</em>
        </p>
    </article>
</section>