/*      -------------------------------------------------

        Project:    colepeters.com
        Author:     DUH!
        Notes:      Built with Rails, Bourbon, Bourbon
                    Neat, and H&FJ Cloud.typography

        -------------------------------------------------
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

@import "bourbon";
@import "neat";

/* ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔


    R E S E T S


▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁ */

p { -webkit-margin-before: 0;
    -webkit-margin-after: 0; }

a { text-decoration: none; }


// Variables
$bgclr: rgb(254,254,254);       // Background colour
$mnclr: rgba(254,254,254,0.95); // Menu background colour
$txtrg: hsl(0,0,10);            // Text - 90%
$txtlt: hsl(0,0,40);            // Text - 70%
$coral: #FF4040;                // Coral, main colour
$inact: hsl(0,0,80);            // Inactive links

// Mixins
@mixin whitneyBook {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 400;
    font-style: normal;
}

@mixin whitneySemiBold {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 600;
    font-style: normal;
}

@mixin whitneySC {
    font-family: 'Whitney SSm SC A', 'Whitney SSm SC B';
    font-style: normal;
}

// Breakpoints
$screen_small: "screen and (max-width: 320px)";
$screen_med: "screen and (max-width: 480px)";
$screen_large: "screen and (max-width: 1024px)";
$screen_huge: "screen and (min-width: 1280px)";
$screen_large_up: "screen and (min-width: 1024px)";

/* ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔


    TYPE


▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁ */

html {
    font-size: 12px;
    }

body {
    @include whitneyBook;
    font-size: 1.5rem;
    line-height: 2.333rem;
    color: $txtrg;
    background: $bgclr;
    -webkit-font-smoothing: antialiased;
    }

bm {
    @include whitneySemiBold;
}

p.indent {
    text-indent: 4rem;
}

p + p {
    margin-top: 2rem;
}

.title {
    @include whitneySC;
    color: $txtlt;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
}

.contents_list,
.contents_list li {
    list-style: none;
    color: $inact;
}

a {
    &:link,
    &:visited,
    &:active {
        color: $coral;
        border-bottom: 1px solid transparent;
        @include transition( all 0.2s ease-out );
    }

    &:hover,
    &:focus {
        border-bottom: 1px solid $coral;
    }

    &.open_sesame,
    &.shut_yo_mouth {
        @include transition( all 0.3s ease-out );
        color: $coral;
        &:hover {
            cursor: pointer;
        }
    }

    &.shut_yo_mouth {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 6rem;
        border-bottom: 6px solid transparent;
        &:hover {
            color: $txtlt;
            border-bottom: 6px solid $coral;
        }
    }
}


/* ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔


        LAYOUT
  
▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁ */

section {
    @include outer-container;
    margin-top: 8rem;

    header { 
        @include span-columns(3);
        }
    article { 
        @include span-columns(9);
        @include omega();
        }
    article + article {
        @include shift(3);
        margin-top: 4rem;
        }
    }

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 9000;
    background: $mnclr;
}

.shut_yo_mouth {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9001;
}

.hide {
    display: none;
}


section.hello,
section.artefacts {
    article{
        @include span-columns(6);
        @include omega();
    }
}

i {
    display: inline-block !important;
    margin-right: 1rem;
    width: 20px !important;
    color: $txtlt;
}


/* ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔


      Animations


▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁▁ */

body {
    @include animation(fadeIn 0.6s ease-in);
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}