---
title: Cole Peters | Artefaces
layout: "layout"
---

<a class="open_sesame small_only">&#9776;</a>

<section class="binders_full_of_content">
    <header>
        <bm>Artefacts</bm>
    </header>
    <article>
        <p>
            <bm>Rugby</bm><br>
            <i class="fa fa-angle-right"></i><a href="http://colepeters.github.io/rugby">colepeters.github.io/rugby</a><br>
            <i class="fa fa-code"></i><a href="http://github.com/colepeters/rugby_prototype">github.com/colepeters/rugby</a>
        </p>

        <p>Rugby is a tiny web app that converts RGB colour swatches from 8-bit integers to percentage-based values.</p>

        <p>Rugby was built to fulfil a simple need: to convert colour swatches from a designer-friendly notation to a developer-friendly notation. I'm used to working with RGB colours in an 8-bit format (where each value for R, G, and B is written as a value between 0 and 255); however, many of the developers I work with prefer Xcode's default of passing colours as percentage-based values. Instead of making the developer change their notation style, I built Rugby to do the pesky maths for me.</p>

        <p>I originally built Rugby as a Rails app in early 2013, but this autumn I decided to re-design and re-develop it from the ground up using JavaScript. Not only did this give me a great excuse to learn some new things (tools like Middleman and Bower, and tons more JS &amp; jQuery than I'd ever been comfortable with before), it also gave me a chance to keep some records of my progress and decisions in building the app from day one. You can read these articles on <a href="http://github.com/colepeters/rugby/wiki/_pages">the project's wiki</a> &mdash; I think this is a great way to give other people a sense of the context, challenges and thought processes that went into the app.</p>
    </article>
    <article>
        <p>
            <bm>cpSublimeTextIcon</bm><br>
            <i class="fa fa-angle-right"></i><a class="not_small" href="http://github.com/colepeters/cpSublimeTextIcon">github.com/colepeters/cpSublimeTextIcon</a><a class="small_only" href="http://github.com/colepeters/cpSublimeTextIcon">github.com/colepeters/cpSubl&hellip;</a>
        </p>

        <p>A custom icon for Sublime Text. The design plays off the image of an I-bar (text) cursor, reimagining it as a distorted ‘st’ ligature. It is available in both light and dark flavours, and is optimised for 512, 256, 128, 32 and 16-pixel sizes (including 2x versions for Retina displays).</p>

        <p>I decided to host the icon and its source files on GitHub in order to encourage people to modify and improve upon the design. While GitHub isn't usually used to host/distribute graphics files, I thought it would be an interesting experiment to see what possibilities this might open up for collaborative design. The icon will also continue to be refined over time, and GitHub's versioning capabilities will allow me (or anyone else) to look back on where the icon has been on its way to the present day.</p>
    </article>
    <article>
        <p>
            <bm>Designer Excuses</bm><br>
            <i class="fa fa-angle-right"></i><a href="http://designerexcuses.com/">designerexcuses.com</a><br>
            <i class="fa fa-code"></i><a class="not_small" href="http://github.com/colepeters/designerexcuses">github.com/colepeters/designerexcuses</a><a class="small_only" href="http://github.com/colepeters/designerexcuses">github.com/colepeters/design&hellip;</a>

        </p>

        <p>Inspired by <a href="http://developerexcuses.com/">Developer Excuses</a>; nothing but pure design sarcasm, served up in Hoefler &amp; Frere-Jones&rsquo; wonderful <a href="http://www.typography.com/fonts/requiem/overview/">Requiem</a>.</p>
    </article>
    <article>
        <p>
            <bm>Prairie Fire Tapes</bm><br>
            <i class="fa fa-angle-right"></i><a href="http://prairiefiretapes.com">prairiefiretapes.com</a>
        </p>
        <p>Prairie Fire Tapes, an independent tape label, was established in January of 2010 by Chirs Jacques and myself as a means of promoting and distributing the work of our hometown noise and experimental music community in Winnipeg, Manitoba, Canada.</p>
        <p>My role at Prairie Fire is one of art direction and design of the release artwork (samples forthcoming). I've also built a website for the label, which reflects the lo-fi, minimal aesthetic that we revolve around (while maintaining a responsive structure).</p>
    </article>
</section>