---
title: Cole Peters | Hello
layout: "layout"
---

<a class="open_sesame small_only">&#9776;</a>

<section class="binders_full_of_content">
    <header>
        <bm>Hello</bm>
    </header>
    <article>
        <p><strong>Update: I'm currently available for work!</strong> If you like what you see &amp; read here, and are looking for a passionate, experienced and lovable designer, I'd love to talk to you! Please feel free to <%= link_to "cole@colepeters.com", "get in touch" %> to receive a full CV and further information.</p><br>

        <p>I am a designer, writer, noise-maker and obsessively curious craftsman. I've spent the last year designing native mobile interfaces for enterprise applications at <a href="http://www.futureworkshops.com">Future Workshops</a>. Previously, I was a co-founder and designer at <a href="http://burdocks.ca">Burdocks</a>.

        <p><bm>Design</bm><br>
        My love and practise of design began over 1&half; decades ago, inspired by a love of letterforms, structure and space. Typography, form and arrangement continue to form the backbone of my work in design today, complemented by a deep appreciation for the interface between subject and material. My experience in design encompasses a wide spectrum of brand identity, responsive web design, and traditional print applications (including experience in working directly with offset and other print suppliers).</p>

        <p><bm>Code</bm><br>
        Wherever possible, I enjoy moving beyond static visuals and into working code. I believe that, in order to effectively realise a design within the digital space, the maker must possess at least a working understanding of code &mdash; the tool that transforms vision into reality. I am highly experienced in writing HTML, CSS/SCSS, and JavaScript/jQuery, and work proficiently on the command line with technologies like Git, Middleman, Bower, and general Bash/ZSH. I have a working knowledge of Ruby and Rails, and am currently studying up on server-side JavaScript applications.</p>

        <p><bm>Writing</bm><br>
        Writing has been a passion of mine for nearly as long as design. In fact, I view design and writing as two manifestations of the same end &mdash; engaging communication and disseminating information. I'm a sucker for good literature, journalism, and cultural discourse. You can read my recent work on <a href="http://blog.colepeters.com">my blog</a>, or dive into some of my past work in the <%= link_to 'Archives', '/archives.html' %>.</p>

        <p><bm>Noise</bm><br>
        I've been producing experimental music since 2004. Between 2009 and early 2013, I recorded <a href="http://discogs.com/artist/Gomeisa">nearly 20 releases</a> of drone and noise-inflected work under the moniker Gomeisa. Since mid-2013 I have been recording and performing more minimal experimental compositions under my own name. You can purchase digital albums of my work on <a href="http://colepeters.bandcamp.com">Bandcamp</a>, or listen on <a href="http://soundcloud.com/colepeters">SoundCloud</a>.</p>

        <p>Thanks very much for your interest.</p>
    </article>
</section>