---
title: Cole Peters | Press
layout: "layout"
---

<a class="open_sesame small_only"><i class="fa fa-bars"></i></a>

<section class="binders_full_of_content">
    <header>
        <bm>Press</bm>
    </header>
    <article>
        <bm>2014</bm><br>
        <p><a href="http://www.fastcoexist.com/3027510/the-first-things-first-manifesto-pledges-the-tech-industry-to-create-meaningful-work">The First Things First Manifesto Pledges The Tech Industry To Create Meaningful Work</a> (Fast Co.Exist)<br>
        Sydney Brownstone speaks to myself and a few signatories about the sentiment behind the manifesto.</p>

        <p><a href="http://www.designweek.co.uk/analysis/updating-the-first-things-first-manifesto-for-2014/3038037.article">Updating the First Things First manifesto for 2014</a> (Design Week)<br>
        I spoke with Angus Montgomery about what went into bringing First Things First up to date.</p>

        <p><a href="http://www.eyemagazine.com/blog/post/design-for-life">Design For Life</a> (Eye)<br>
        Nigel Ball covers the genesis and launch of First Things First 2014.</p>

        <p><a href="http://writing.attending.io/pieces/minimum-viable-pundit-design-banter-10">Minimum Viable Pundit</a><br>
        Matt Soczywko reports on the talks given at Design + Banter 10, where I spoke about the launch of First Things First 2014.</p>

        <p><a href="https://www.adbusters.org/blogs/why-i-am-renewing-first-things-first-manifesto.html">The First Things First Manifesto</a> (Adbusters)<br>
        I was fortunate to have my article on rebooting the First Things First manifesto republished on Adbusters&rsquo; blog.</p>
    </article>
    <article>
        <bm>2013</bm><br>
        <p><a href="http://designtaxi.com/news/359767/Useful-Site-Makes-Up-Excuses-For-Lazy-Designers/">Useful Site Makes Up Excuses For Lazy Designers</a> (Design Taxi)<br>
        Unquestionably some of my most meaningful, important work to date.</p>

        <p><a href="http://www.builtheritagenews.ca/show_news.cfm?id=743&t=1#.UyTMj9ymBuY">New website showcasing Winnipeg architecture</a> (Built Heritage News)<br>
        I spent much of 2012 working on the brand identity and design &amp; build of a new website for the Winnipeg Architecture Foundation during my time at Burdocks. Here, Susan Algie, the Foundation&rsquo;s director, announces the launch of the website.</p>
    </article>
</section>