<%= render partial: "shared/header" %>

<a class="open_sesame small_only">&#9776;</a>

<section class="artefacts">
    <header>
        <bm>Artefacts</bm>
    </header>
    <article>
        <p>
            <bm>Rugby</bm><br>
            <i class="icon-angle-right"></i><a href="http://rugby-rgb.herokuapp.com">rugby-rgb.herokuapp.com</a><br>
            <i class="icon-code"></i><a href="http://github.com/colepeters/rugby">github.com/colepeters/rugby</a>
        </p>

        <p>Rugby is a tiny web app that converts RGB colour codes from 8-bit integers to fractional values. This is my very first web app, built during my time at the first <a href="http://hungrydev.co.uk">Hungry Dev Rails course</a>, where I picked up the basics of Rails and Ruby.</p>

        <p>Rugby was built to fulfil a simple need: to convert colour codes from a designer-friendly notation to a developer-friendly notation. As an interface designer, I'm used to working with RGB colours in an 8-bit format (where each value for R, G, and B is written as a value between 0 and 255); however, many of the developers I work with prefer Xcode's default of passing colours as fractional values. Instead of making the developer change their notation style, I built Rugby to do the pesky maths for me.</p>
    </article>
    <article>
        <p>
            <bm>Designer Excuses</bm><br>
            <i class="icon-angle-right"></i><a href="http://designerexcuses.com/">designerexcuses.com</a><br>
            <i class="icon-code"></i><a href="http://github.com/colepeters/designerexcuses">github.com/colepeters/designerexcuses</a></em>
        </p>

        <p>Inspired by <a href="http://developerexcuses.com/">Developer Excuses</a>; nothing but pure design sarcasm, served up in Hoefler & Frere-Jones&rsquo; wonderful <a href="http://www.typography.com/fonts/requiem/overview/">Requiem</a>.</p>
    </article>
    <article>
        <p>
            <bm>Prairie Fire Tapes</bm><br>
            <i class="icon-angle-right"></i><a href="http://prairiefiretapes.com">prairiefiretapes.com</a>
        </p>
        <p>Prairie Fire Tapes, an independent tape label, was established in January of 2010 by Chirs Jacques and myself as a means of promoting and distributing the work of our hometown noise and experimental music community in Winnipeg, Manitoba, Canada.</p>
        <p>My role at Prairie Fire is one of art direction and design of the release artwork (samples forthcoming). I've also built a website for the label, which reflects the lo-fi, minimal aesthetic that we revolve around (while maintaining a responsive structure).</p>
    </article>
</section>